.landing-container {
  background-color: #dcd0ff;
  padding: 25px;
}

.info-logo {
  animation: Title-logo-spin infinite 10s linear;
  width: 36px;
  height: 36px;
  display: inline-block;
  margin-right: 7px;
}

.arrows {
  width: 20px;
  height: 20px;;
}

@keyframes Title-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
