.landing-container {
  background-color:rgba(50, 23, 77, 1.0);
  padding: 25px;
}

.info-logo {
  animation: Title-logo-spin infinite 10s linear;
  width: 36px;
  height: 36px;
  display: inline-block;
  margin-right: 7px;
}

.date-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 107%;
  height: 25%;
  justify-content: center;
}

.react-datepicker-wrapper {
  width: 50%;
}

.react-datepicker__input-container,
.date-picker  {
  width: 100%;
}

.arrows {
  width: 20px;
  height: 20px;;
}

@keyframes Title-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
